.wholeRow {
    height:25px;
}
.skillString {
    word-wrap: none;
    white-space: nowrap;
    overflow-x:scroll;
    //text-overflow: ellipsis;
    -ms-overflow-style: none;  // this is for IE 10+
    scrollbar-width: none;  // this is for firefox
    margin-right:7px;
    &::-webkit-scrollbar {
        display: none; // this is for edge and chrome
    }
}
.skillRow {
    white-space: nowrap;
    >span {
        height:10px;
        display:inline-block;
        position:relative;
    &::before {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        top: -1px;
        left:0;
    }}
}