<div class="row thick-border bottom pb-2">
    <div class="col mt-auto">
        <div class="row">
            <div class="col">
                <h1 class="display-4 font-weight-thin mb-0">ALEC B. GEIBIG</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mt-0">
                <h4 class="font-weight-thin t-grey mb-0">SOFTWARE ENGINEER</h4>
            </div>
        </div>
    </div>
    <div class="col text-right pt-4 t-grey mt-auto">
        <div class="row"><div class="col">C: 814-242-3741</div></div>
        <div class="row"><div class="col">ALECBGEIBIG@GMAIL.COM</div></div>
    </div>
</div>